 *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

 
body {
  background-color: #f6f8fb;
  display: flex;
  justify-content: center;
  align-items: center; /* center vertically for consistent layout */
  padding: 20px;
  min-height: 100vh;
}

.container {
  background: #fff;
  width: 100%;
  max-width: 400px;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

/* Header */
.header {
  display: flex;
  align-items: center;
  gap: 10px;
  background: url(IMAGES/head.jpg)  no-repeat center center/cover;
  
  padding: 30px;
}

.header .back-btn {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.header h1 {
  font-size: 18px;
  font-weight: 600;
}

/* Form Section */
.form-section {
  background: #fff8e1;
  padding: 20px;
  border-radius: 8px;
  margin: 15px;
}

.form-note {
  font-size: 13px;
  color: #333;
  margin-bottom: 15px;
}

label {
  display: block;
  margin-top: 10px;
  font-weight: 500;
  color: #333;
}

input,
select {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
}

.request-btn {
  margin-top: 15px;
  width: 100%;
  padding: 10px;
  background: #187bcd;
  border: none;
  color: #fff;
  font-weight: 600;
  border-radius: 6px;
  cursor: pointer;
}

.request-btn:hover {
  background: #0f6ab5;
}

/* Pending Section */
.pending-section {
  background: #e8f2ff;
  margin: 15px;
  border-radius: 8px;
  padding: 15px;
}

.pending-section h2 {
  font-size: 16px;
  margin-bottom: 10px;
  font-weight: 600;
}
.container table {
   background: #fff;
  width: 100%;
  max-width: 400px;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
  font-size: 13px;
}

th, td {
  padding: 8px;

}

th {
  background: #fff8e1;
  color: #333;
}
